:root{
        --main-color: #757575;
        --bgr-color: #FFFFFF;
        --bgr-footer-color: #2F303A;
        --main-secon-color: #212121;
        --color-for-hover: #2196F3;
}

.body{
        font-family: Roboto ,sans-serif;
        color: var(--main-color)#757575;
        background-color: var(--bgr-color)#FFFFFF;
        text-decoration: none;  
        margin: 0;
             
}
ul{
        list-style: none;
}
.link{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #2196F3;
}
.link-text{
        color: black;
}
.link-text-footer{
        color: #FFFFFF;
}
.link:hover{
        color: #2196F3;
}
.link-1, .link-2, .link-3 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        color: #212121;
        letter-spacing: 0.02em;
}
.current{
        color: #2196F3;
}
.link, .link-1, .link-2, .link-3{
        text-decoration: none;
}

.email, .tel{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        color: #757575;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.email:hover, .tel:hover, .email:focus, .tel:focus{
        color: #2196F3;      
}
.business-section{
        background: #2F303A;
}
.title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.button-order{
        background: #F5F4FA;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
}

.subtitle{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-secon-color);
}
.text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--main-color);
}
.perform, .our-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-secon-color);
}
.work-section{
        background: #E5E5E5;
}
.team{
        background: #F5F4FA;
}

.name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-secon-color);
}
.job{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-color);
}
.footer-section{
         background: #2F303A;
}
.email-footer, .tel-footer{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.email-footer:hover, .tel-footer:hover, .email-footer:focus, .tel-footer:focus{
        color: #2196F3;
}
.address{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
}
.button{
        font-family: 'Roboto';
        font-style: normal;
        background: #F5F4FA;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
}

.button:hover, .button:focus, .button-order:hover, .button-order:focus{
        background: #2196F3;
        color: #FFFFFF;
}
.project{

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--main-secon-color);
}
.meaning{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--main-color);
}