:root{
        --main-color: #757575;
        --bgr-color: #FFFFFF;
        --bgr-footer-color: #2F303A;
        --main-secon-color: #212121;
        --color-for-hover: #2196F3;
}

.body{
        font-family: Roboto ,sans-serif;
        color: var(--main-color)#757575;
        background-color: var(--bgr-color)#FFFFFF;
        text-decoration: none;  

             
}
.container-body{
        margin: 0;
        
        width: 1600px;
        /*height: 2349px;*/
}
.container-body-portfolio{
        
        width: 1600px;
        /*height: 1880px;*/
        background: #FFFFFF;

}
ul{
        list-style: none;
}
/*logo*/
.container-header{
        width: 1600px;
        height: 80px;
        background: #FFFFFF;
        display: flex;
        border: 1px solid #ECECEC;
}
.container-link{
        width: 145px;
        padding-left:  215px;
        padding-bottom:  25px;
        padding-top:  24px;

}
.container-nav{
        display: flex;
        width: 294px;
        padding:  32px 853px 32px 453px;
}
.link{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #2196F3;
}


.link-text{
        color: black;
}
.link-text-footer{
        color: #FFFFFF;
}
.link:hover{
        color: #2196F3;
}
/*main-nav*/


.link-1, .link-2, .link-3 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        color: #212121;
        letter-spacing: 0.02em;
        margin-right: 50px;
        
        
}
.link-3{
        margin-right: 0;
}
.current{
        color: #2196F3;
}
.link, .link-1, .link-2, .link-3{
        text-decoration: none;
}
/*email and tel*/
.email, .tel{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        color: #757575;
        letter-spacing: 0.02em;
        text-decoration: none;
        margin-right: 50px;
}
.tel{
        margin-right: 0;
}
.email:hover, .tel:hover, .email:focus, .tel:focus{
        color: #2196F3;      
}
.email-tel{
        margin-left: 331px;
        padding-top: 32px;
}
/*main section*/
.business-section{
        background: #2F303A;

        width: 1600px;
        height: 600px;
        margin-left: 0;
        padding-top:  80px;
}

.title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
}
.title-container{
        width: 696px;
        height: 120px;
        margin-left: 452px;
        margin-top:  80px;

}
.button-order, .container-button{
        background: #F5F4FA;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
}
.container-button{
        width: 200px;
        height: 50px;
        margin-left: 700px;
        margin-top: 30px;
        display: inline-block;
        
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        

}
/*peculiarities*/
/*.Peculiarities-container{
        display: flex;
        align-items: flex-start;
        width: 1600px;
}*/
.subtitle{
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-secon-color);

}
.subtitle-contanier{
        display: flex;
       
        width: 1170px;
        height: 101px;
        padding-left: 0px;
        padding-right: 0px;
        background: #FFFFFF;
        margin: 94px 215px;
        gap: 30px;       
}
.item, .subtitle{
        width: 270px;
        margin: 0;
}
.text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--main-color);
        margin-top: 10px;
}
/*what we are doing*/
.container-work{
        width: 1170px;
        margin: 94px 215px 94px 215px;
}
.perform, .our-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-secon-color);
}

.perform{
        padding-left: 397px;
        margin-top: 94px;
        padding-bottom: 50px;
        margin-bottom: 0px;
}
.perform-item{
        display: flex;
        padding: 0px;
        margin: 0px;
        gap: 30px;    
}
/*our team*/
.container-team{
        background: #F5F4FA;
        width: 1600px; 
        height: 648px;   
        margin-top: 94px;       
}
.our-team{
        
        text-align: center;
        /*padding: 94px 668px 50px 668px;
        padding-left: 668px;*/
        padding-top: 94px;
        margin: 0px;
}
.container-teamlead{
        
        display: flex;
        width: 1170px;
        margin: 50px 215px 94px 215px;
        padding: 0px;
}
.foto{
        background: #F5F4FA;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-right: 30px;
}
.foto:last-child{
        padding-right: 0px;
}
/*.foto:nth-child(2), :nth-child(3), :nth-child(4){
        margin-left: 0px;
}*/
.name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-secon-color);
        text-align: center;
        margin-top: 30px;
        
}
.job{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-color);
        text-align: center;
        margin-top: 10px;
}
/*portfolio*/
.container-portfolio{
        
        width: 1170px;
        /*height: 1360px;*/
        margin-left:  215px;
        margin-top:  100px;
}
.container-btn-portfolio{
        display: flex;
        margin-left: 280px;
        margin-top:  100px;
        padding-left: 0px;
        background-color: #FFFFFF;
}
/*filters*/
.filters{
        
        align-items: flex-start;
        border-radius: 4px;
       
       
}
.btn-all{
        width: 73px;
        height: 38px;
        margin-right: 8px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);        
}

.btn-web{
        width: 128px;
        height: 38px;
        margin-right: 8px;
}
.btn-applic{
        width: 145px;
        height: 38px;
        margin-right: 8px;
}
.btn-design{
        width: 103px;
        height: 38px;
        margin-right: 8px;
}
.btn-market{
        width: 130px;
        height: 38px;
}

/*footer*/
.footer-section{
        background: #2F303A;
        width: 1600px;
        height: 252px;
        margin-left:  0px;
        padding-top:  0px;
        

}
.link-footer-container{
        position: absolute;
        width: 145px;
        
        margin-left: 215px;
        padding-top:  60px;
        
}
.email-footer, .tel-footer{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.email-footer:hover, .tel-footer:hover, .email-footer:focus, .tel-footer:focus{
        color: #2196F3;
}
.address{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
}
.address-footer-container{
        display: block;
        /*position: absolute;*/
        width: 231px;
        /*height: 81px;*/
        margin-left: 215px;
        padding-top: 111px;

}
/*portfolio button*/
.button{
        font-family: 'Roboto';
        font-style: normal;
        background: #F5F4FA;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
}

.button:hover, .button:focus, .button-order:hover, .button-order:focus{
        background: #2196F3;
        color: #FFFFFF;
}
/*images portfolio*/
.img-container{
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100%-60px)/3);
        
        margin-left:  0px;
        margin-top:  50px;
        padding-left: 0px;
        gap:  30px;
        margin-bottom: 94px;
}
.box-project{
        box-sizing: border-box;
        width: 370px;
        height: 404px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
}
.project{

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--main-secon-color);
        padding: 20px 24px 4px;
        margin: 0px;
}
.meaning{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--main-color);
        padding: 4px 24px 20px;
        margin: 0px;
}