img{
        display: block;
        max-width: 100%;
        height: auto;
}
:root{
        --main-color: #757575;
        --bgr-color: #FFFFFF;
        --bgr-footer-color: #2F303A;
        --main-secon-color: #212121;
        --color-for-hover: #2196F3;
}
.body{
        font-family: Roboto ,sans-serif;
        color: var(--main-color)#757575;
        background-color: var(--bgr-color)#FFFFFF;
        text-decoration: none;              
}
.container-body{
        margin:auto;
        width:1200px; 
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #ECECEC;
        
}
.container-body-portfolio{
        margin: auto;
        width: 1200px;
        padding: 0 15px;
        background: #FFFFFF;
        border: 1px solid #ECECEC;
        
        
}
ul{
        list-style: none;
}
/*logo*/
.container-link{
        
        padding-left: 15px;
        padding-right: 15px;
        background: #FFFFFF;
        /*border: 1px solid #ECECEC;*/
        display: flex;
        margin-top: 32px;
        margin-bottom: 32px;       
}
.container-nav{
        display: flex;
        margin: auto;
}
.container-link li{
        display: block;
}
.container-link li, .email-tel:not(last-child){
        margin-right: 50px;
}
.link{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #2196F3;
        margin-left:auto;
        
}
.link-text{
        color: black;
}
.link-text-footer{
        color: #FFFFFF;
}
.link:hover{
        color: #2196F3;
}
/*main-nav*/
.link-1, .link-2, .link-3 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        color: #212121;
        letter-spacing: 0.02em; 
    
}
.current{
        color: #2196F3;
}
.link, .link-1, .link-2, .link-3{
        text-decoration: none;
}
/*email and tel*/
.email, .tel{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        color: #757575;
        letter-spacing: 0.02em;
        text-decoration: none; 
        display: flex;
        justify-content: center;
}
.email{
        margin-right: 50px;
}
.email:hover, .tel:hover, .email:focus, .tel:focus{
        color: #2196F3;      
}
.email-tel{
        display: flex;
        margin: auto;
        
}
/*main section*/

.title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        
}
.title-container{
        padding-top: 200px;
        padding-bottom: 200px;  
        background: #2F303A;
}
.hat{
        width: 696px;
        margin-left: auto;
        margin-right: auto;
}
.button-order{
        background: #F5F4FA;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
}
.container-button{
        display: flex;
        text-align: center;      
        margin-left: auto;
        margin-right: auto;
}
.subtitle{
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-secon-color);
}
.subtitle-contanier{
        display: flex;
        justify-content: center;
        margin: 94px 0px 94px 0px;
        padding: 0px;
        background: #FFFFFF;
        gap: 30px;       
}
.subtitle-contanier li{
        justify-content: flex-start;
}

.subtitle{
        margin: auto;
}
.text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--main-color);
        margin-top: 10px;
        margin-bottom: 0px;
}
/*what we are doing*/
.container-work{
        display: block;
        margin: 94px 0px 94px 0px;
        text-align: center;
}
.perform, .our-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-secon-color);
        margin: auto;
}
.perform-item{
        display: flex;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
        gap: 30px;    
}
/*our team*/
.container-team{
        background: #F5F4FA;
        display: block;
        margin: 94px 0px 0px 0px;
        text-align: center;
}
.our-team{
        
        text-align: center;
        padding-top: 94px;
        margin-bottom: 50px;
        margin-top: 94px;
}
.container-teamlead{
        display: flex;
        text-align: center;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 94px;
        gap: 30px;
}
.foto{
        background: #F5F4FA;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;       
}
.name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-secon-color);
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
        
}
.job{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-color);
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
}
/*portfolio*/
.container-portfolio{
        width: 1170px;
        
        margin-top: 94px;
        margin-bottom: 94px; 
              
}
.btn-portfolio{
        display: flex;
        justify-content: center;
        margin: auto;
        padding-left: 0;
}
/*filters*/
.filters{
        
        align-items: flex-start;
        border-radius: 4px;
       
       
}
.btn-all{
        width: 73px;
        
        margin-right: 8px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);        
}

.btn-web{
        width: 128px;
        
        margin-right: 8px;
}
.btn-applic{
        width: 145px;
        
        margin-right: 8px;
}
.btn-design{
        width: 103px;
        
        margin-right: 8px;
}
.btn-market{
        width: 130px;
        
}

/*footer*/
.footer-container{
        padding: 60px 0;
        background: #2F303A;                 
}

.address-footer-container{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;  
        margin: auto;

        
}

.email-footer, .tel-footer{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        display: flex;
        padding-top: 9px;
        
}
.email-footer:hover, .tel-footer:hover, .email-footer:focus, .tel-footer:focus{
        color: #2196F3;
}
.address{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
        padding-top: 20px;
}

/*portfolio button*/
.button{
        font-family: 'Roboto';
        font-style: normal;
        background: #F5F4FA;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
}

.button:hover, .button:focus, .button-order:hover, .button-order:focus{
        background: #2196F3;
        color: #FFFFFF;
}
/*images portfolio*/
.img-container{
        display: flex;
        flex-wrap: wrap;        
        padding-left: 0;
        margin-top: 50px;
        margin-bottom: 0;
        gap: 30px;      
} 
.box-project{
        box-sizing: border-box;
        margin: auto;
        background: #FFFFFF;
                
}
.project-text{
        border-bottom: 1px solid #ECECEC ;
        border-left: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;

}
.project{

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--main-secon-color);
        padding-left:  24px;
        padding-top:  20px;
        margin: 0px;       
}
.meaning{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--main-color);

        
        padding-left: 24px;
        padding-top: 4px;
        margin-bottom: 20px;
}